@import './najm-bahar-tokens.css';
@import './najm-bahar-shared.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bahar-amount {
		white-space: nowrap;
	}

	.bahar-decimal {
		font-size: 0.75em;
		opacity: 0.8;
	}
}
